* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 15px;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-image: url('https://i.ytimg.com/vi/2Gg6Seob5Mg/maxresdefault.jpg');
  background-size: cover;
}

.movie-list-title {
  font-size: 3rem;
  color: white;
  background: rgb(0, 0, 0);
  text-transform: uppercase;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0) 70%
  );
}
